<%= render "layouts/navbar" %>
<div class="container" style="padding-top: 80px;">
  <h1>対局結果一覧</h1>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>対局日</th>
        <th>参加者1</th>
        <th>参加者2</th>
        <th>参加者3</th>
        <th>参加者4</th>
      </tr>
    </thead>
    <tbody>
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.date %></td>
          <td><%= participant_name(score.first_participantID) %></td>
          <td><%= participant_name(score.second_participantID) %></td>
          <td><%= participant_name(score.third_participantID) %></td>
          <td><%= participant_name(score.fourth_participantID) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-3 mb-3">
    <%= link_to "追加", new_score_path, class: "btn btn-primary" %>
  </div>
</div>
