<%= render "layouts/navbar" %>
<div class="container" style="padding-top: 80px;">
  <h1>対局結果一覧</h1>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>対局日</th>
        <th>1位</th>
        <th>点数(獲得合計pt)</th>
        <th>2位</th>
        <th>点数(獲得合計pt)</th>
        <th>3位</th>
        <th>点数(獲得合計pt)</th>
        <th>4位</th>
        <th>点数(獲得合計pt)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.date %></td>
          <td><%= game.first_name %></td>
          <td><%= game.first_score %>点 (<%= game.first_point %>pt)</td>
          <td><%= game.second_name %></td>
          <td><%= game.second_score %>点 (<%= game.second_point %>pt)</td>
          <td><%= game.third_name %></td>
          <td><%= game.third_score %>点 (<%= game.third_point %>pt)</td>
          <td><%= game.fourth_name %></td>
          <td><%= game.fourth_score %>点 (<%= game.fourth_point %>pt)</td>
          <% if logged_in? then %>
            <td><%= link_to "編集", edit_score_path(game.id) %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if logged_in? then %>
    <div class="mt-3 mb-3">
      <%= link_to "追加", new_score_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
