<%= render "layouts/navbar" %>
<div class="container" style="padding-top: 80px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>参加者名</th>
        <th>ハンデ</th>
        <th>現在の得点</th>
        <th>現在の得点 + ハンデ</th>
        <th>1位</th>
        <th>2位</th>
        <th>3位</th>
        <th>4位</th>
        <th>役満回数</th>
        <th>対戦回数</th>
      </tr>
    </thead>
    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td><%= link_to participant.name, result_path(participant.id) %></td>
          <td><%= participant.handicap %></td>
          <td><%= participant.game_point %></td>
          <td><%= participant.total_point %></td>
          <td><%= participant.first %></td>
          <td><%= participant.second %></td>
          <td><%= participant.third %></td>
          <td><%= participant.fourth %></td>
          <td>0</td>
          <td><%= participant.total_games %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>