<%= render "layouts/navbar" %>
<div class="container" style="padding-top: 80px;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">順位</th>
        <th scope="col">参加者名</th>
        <th scope="col">ハンデ</th>
        <th scope="col">順位ポイント(累計)</th>
        <th scope="col">ゲームポイント(累計)</th>
        <th scope="col">合計ポイント(累計)</th>
        <th scope="col">1位</th>
        <th scope="col">2位</th>
        <th scope="col">3位</th>
        <th scope="col">4位</th>
        <th scope="col">役満回数</th>
        <th scope="col">対戦回数</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each_with_index do |result, i| %>
        <tr>
          <th scope="row"><%= i+1 %>位</th>
          <td><%= link_to result.name, result_path(result.id) %></td>
          <td><%= result.handicap %></td>
          <td><%= result.cumulative_rank_point %></td>
          <td><%= result.cumulative_game_point %></td>
          <td><%= result.cumulative_total_point %></td>
          <td><%= result.number_of_times_first %></td>
          <td><%= result.number_of_times_second %></td>
          <td><%= result.number_of_times_third %></td>
          <td><%= result.number_of_times_fourth %></td>
          <td><%= get_number_grand_slum(result.id) %></td>
          <td><%= result.number_of_times_played %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>