<%= render "layouts/navbar" %>
<div class="container" style="padding-top: 80px;">
  <h1><%= @name %> さんの記録 </h1>

  <h2 class="mt-5"> 対局結果一覧 </h2>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>対局日</th>
        <th>1位</th>
        <th>点数(獲得合計pt)</th>
        <th>2位</th>
        <th>点数(獲得合計pt)</th>
        <th>3位</th>
        <th>点数(獲得合計pt)</th>
        <th>4位</th>
        <th>点数(獲得合計pt)</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.date %></td>
          <td><%= game.first_name %></td>
          <td><%= game.first_score %>点 (<%= game.first_point %>pt)</td>
          <td><%= game.second_name %></td>
          <td><%= game.second_score %>点 (<%= game.second_point %>pt)</td>
          <td><%= game.third_name %></td>
          <td><%= game.third_score %>点 (<%= game.third_point %>pt)</td>
          <td><%= game.fourth_name %></td>
          <td><%= game.fourth_score %>点 (<%= game.fourth_point %>pt)</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2 class="mt-5">達成した役満</h2>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>役</th>
      </tr>
    </thead>
    <tbody>
      <% @grand_slums.each do |grand_slum| %>
        <tr>
          <td><%= grand_slum.date %></td>
          <td><%= grand_slum.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>