<%= render "layouts/navbar" %>
<div class="container" style="padding-top: 80px;">
  <h1><%= @participant.name %> さんの対局結果一覧 </h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>対局日</th>
        <th>1位</th>
        <th></th>
        <th>2位</th>
        <th></th>
        <th>3位</th>
        <th></th>
        <th>4位</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @scores.each do |score| %>
        <tr>
          <td><%= score.date %></td>
          <td><%= participant_name(score.first_participantID) %></td>
          <td><%= score.first_score %>点</td>
          <td><%= participant_name(score.second_participantID) %></td>
          <td><%= score.second_score %>点</td>
          <td><%= participant_name(score.third_participantID) %></td>
          <td><%= score.third_score %>点</td>
          <td><%= participant_name(score.fourth_participantID) %></td>
          <td><%= score.fourth_score %>点</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>